<div class="container is-max-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image" />
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <h1>
                    <%= person.name %>
                </h1>
                <div class="py-0">
                    <hr>
                    <% person.Cbos.forEach(cbo=> { %>
                        <h6>
                            <%= cbo.title %>
                        </h6>
                        <% if (cbo.Service.description) { %>
                            <p>
                                <%= cbo.Service.description %>
                            </p>
                            <% } %>
                                <hr>
                                <% }) %>
                                    <% person.NoCboServices.forEach(noCboService=> { %>
                                        <h6>
                                            <%= noCboService.title %>
                                        </h6>
                                        <% if (noCboService.description) { %>
                                            <p>
                                                <%= noCboService.description %>
                                            </p>
                                            <% } %>
                                                <hr>
                                                <% }) %>
                </div>
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="https://bulma.io/assets/images/placeholders/96x96.png" alt="Placeholder image" />
                    </figure>
                </div>
                <% person.SocialAccounts.forEach(socialAccount=> { %>
                    <% const url=(function ensureHttps(url) { if (!url.startsWith("https://")) { url="https://" + url; }
                        return url; } (socialAccount.link)); %>
                        <span>
                            <a href=<%=url %>>
                                <%= socialAccount.link %>
                            </a>
                        </span>
                        <br>
                        <% }) %>
                            <br>
                            <% person.Phones.forEach(phoneRow=> { %>
                                <span>
                                    <a href="https://wa.me/55<%= phoneRow.phone %>
                                        <%_ %>?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%21">
                                        <%= phoneRow.phone %>
                                    </a>
                                </span>
                                <% }) %>
            </div>
        </div>
    </div>
</div>