<div class="container is-max-tablet">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <% if (person.imageName) { %>
                    <a href="/<%= person.username %>">
                        <img src="/images/<%= person.imageName %>"
                            alt="Placeholder image" />
                    </a>
                    <% } else { %>
                        <a href="/<%= person.username %>">
                            <img src="https://bulma.io/assets/images/placeholders/1280x960.png"
                                alt="Placeholder image" />
                        </a>
                        <% } %>
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <a href="/<%= person.username %>">
                    <h1>
                        <%= person.name %>
                    </h1>
                </a>
                <div class="py-0">
                    <hr>
                    <% person.Services.forEach(service=> { %>
                        <h6>
                            <%= service.CboId ? service.Cbo.title : service.noCboTitle %>
                        </h6>
                        <% if (service.description) { %>
                            <p>
                                <%= service.description %>
                            </p>
                            <% } %>
                                <hr>
                                <% }) %>
                </div>
                <% person.SocialAccounts.forEach(socialAccount=> { %>
                    <% const url=(function ensureHttps(url) { if (!url.startsWith("https://")) { url="https://" + url; }
                        return url; } (socialAccount.link)); %>
                        <span>
                            <a href=<%=url %>>
                                <%= socialAccount.link %>
                            </a>
                        </span>
                        <br>
                        <% }) %>
                            <br>
                            <% person.Phones.forEach(phoneRow=> { %>
                                <span>
                                    <a href="https://wa.me/55<%= phoneRow.phone %>
                                        <%_ %>?text=Ol%C3%A1%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es%21">
                                        <%= phoneRow.phone %>
                                    </a>
                                </span>
                                <% }) %>
            </div>
        </div>
    </div>
</div>