<% if (profession) { %>
    <%= console.log(profession) %>
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder image" />
                </figure>
            </div>
            <div class="card-content">
                <p class="title is-3">
                    <%= user.name %>
                </p>
                <% person.Professions.forEach(profession=> { %>
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">
                                <%= profession.Cbo.title %>
                                    <button class="button is-small">Edit</button>
                                    <button class="button is-small">Delete</button>
                            </p>
                            <p class="subtitle is-6">
                                <%= profession.jobDescription %>
                            </p>
                        </div>
                    </div>
                    <% }) %>
                        <div class="media-left content">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/assets/images/placeholders/96x96.png"
                                    alt="Placeholder image" />
                            </figure>
                        </div>
                        <div class="content">
                            <% person.SocialAccounts.forEach(SocialAccount=> { %>
                                <span>
                                    <a href="#">
                                        <%= SocialAccount.link %>
                                    </a>
                                </span>
                                <% }) %>
                        </div>
                        <div class="content">
                            <% person.Phones.forEach(phone=> { %>
                                <span>
                                    <%= phone.phone %>
                                </span>
                                <% }) %>
                        </div>
            </div>
        </div>
        <% } %>