<%- include('../layouts/header'); -%>
    <section class="section">
        <div class="container is-max-tablet mt-6">
            <% person.Cbos.forEach((cbo, i)=> { %>
                <form action="/user/update/service/?_method=put" method="POST">
                    <div id="professionContainer" class="field myContainer block">
                        <div class="field myRow">
                            <input type="hidden" name="services[<%= i %>][CboId]" value="<%= cbo.id %>">
                            <input type="hidden" name="services[<%= i %>][id]" value="<%= cbo.Service.id %>">
                            <div class="field">
                                <label class="label">Profissão <span class="labelNumber">
                                        <%= i+1 %>
                                    </span></label>
                                <div class="control autocompleteWrapperCbo">
                                    <input class="input cboInput" name="services[<%= i %>][ocupation]" type="text"
                                        placeholder="Nome da categoria" autocomplete="off" required
                                        value="<%= cbo.title %>">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <textarea class="textarea" name="services[<%= i %>][description]" type="text"
                                        placeholder="Descrição dos serviços (opcional)"><%= cbo.Service.description %></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control buttons is-centered">
                                    <button class="button is-warning is-small is-pulled-right editButton"
                                        type="button">Editar</button>
                                    <a href="/user/delete/service/<%= cbo.Service.id %>/?_method=delete"
                                        class="button is-danger is-small is-pulled-right">Excluir</a>
                                    <button class="button is-success is-small is-pulled-right"
                                        type="submit">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <% }); %>
                    <% person.NoCboServices.forEach((noCboService, i)=> { %>
                        <form action="/user/update/service/?_method=put" method="POST">
                            <div class="field myRow">
                                <div class="field">
                                    <input type="hidden" name="noCboServices[<%= i %>][id]"
                                        value="<%= noCboService.id %>">
                                    <label class="label">Profissão <span class="labelNumber">
                                            <%= person.Cbos.length +i+1 %>
                                        </span></label>
                                    <div class="control autocompleteWrapperCbo">
                                        <input class="input cboInput" name="noCboServices[<%= i %>][ocupation]"
                                            type="text" placeholder="Nome da categoria" autocomplete="off" required
                                            value="<%= noCboService.title %>">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea" name="noCboServices[<%= i %>][description]"
                                            type="text"
                                            placeholder="Descrição dos serviços (opcional)"><%= noCboService.description %></textarea>
                                    </div>
                                </div>
                                <div class="control buttons is-centered">
                                    <button class="button is-warning is-small is-pulled-right editButton"
                                        type="button">Editar</button>
                                    <a href="/user/delete/service1/<%= noCboService.id %>/?_method=delete"
                                        class="button is-danger is-small is-pulled-right">Excluir</a>
                                    <button class="button is-success is-small is-pulled-right"
                                        type="submit">Salvar</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <% }); %>
                            <!-- <div class="control">
                                <button id="addProfession" class="button is-info" type="button">+ profissão</button>
                            </div> -->
                            <% person.Phones.forEach((phoneRow, i)=> { %>
                                <form action="/user/update/phone/?_method=put" method="POST">
                                    <div id="phoneContainer" class="field myContainer">
                                        <div class="field myRow">
                                            <div class="field">
                                                <input type="hidden" name="phones[<%= i %>][id]"
                                                    value="<%= phoneRow.id %>">
                                                <label class="label">Telefone <span class="labelNumber">
                                                        <%= i+1 %>
                                                    </span></label>
                                                <div class="control">
                                                    <input class="input" name="phones[<%= i %>][phone]" type="tel"
                                                        placeholder="Somente números" required
                                                        value="<%= phoneRow.phone %>">
                                                </div>
                                            </div>
                                            <div class="control buttons is-centered">
                                                <button class="button is-warning is-small is-pulled-right editButton"
                                                    type="button">Editar</button>
                                                <a href="/user/delete/phone/<%= phoneRow.id %>/?_method=delete"
                                                    class="button is-danger is-small is-pulled-right">Excluir</a>
                                                <button class="button is-success is-small is-pulled-right"
                                                    type="submit">Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <% }) %>
                                    <!-- <div class="control">
                                        <button id="addProfession" class="button is-info" type="button">+ telefone</button>
                                    </div> -->
                                    <% person.SocialAccounts.forEach((socialAccount, i)=> { %>
                                        <form action="/user/update/socialAccount/?_method=put" method="POST">
                                            <div id="linkContainer" class="field myContainer">
                                                <div class="field myRow">
                                                    <div class="field">
                                                        <input type="text" name="links[<%= i %>][oldLink]" value="<%= socialAccount.link %>" hidden>
                                                        <label class="label">Conta Social <span class="labelNumber">
                                                                <%= i+1 %>
                                                            </span></label>
                                                        <div class="control">
                                                            <input class="input" name="links[<%= i %>][link]"
                                                                type="text" placeholder="Link do perfil (opcional)"
                                                                value="<%= socialAccount.link %>">
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="control buttons is-centered">
                                                            <button
                                                                class="button is-warning is-small is-pulled-right editButton"
                                                                type="button">Editar</button>
                                                            <a href="/user/delete/socialAccount?link=<%= encodeURIComponent(socialAccount.link) %>&_method=delete"
                                                                class="button is-danger is-small is-pulled-right">Excluir</a>
                                                            <button class="button is-success is-small is-pulled-right"
                                                                type="submit">Salvar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <% }) %>
                                            <!-- <div class="control">
                                                <button id="addProfession" class="button is-info" type="button">+ conta social</button>
                                            </div> -->
        </div>
    </section>
    <!-- <script src="/javascripts/dynamicFormEdit.js"></script> -->
    <!-- <%- // include('../layouts/footer' ); -%> -->